{{layouts/header-bar private=true systemMessage=systemMessage}}
{{layouts/restricted/main-nav}}
<div id= "main-content-strip" class="{{if navCollapsed 'nav-collapsed'}} {{if session.hideContent 'invisible'}} {{'container-3'}}">
	{{yield}}
</div>
{{#if session.hideContent}}
	{{layouts/restricted/loading-page}}
{{/if}}
